
@{
    ViewBag.Title = "Index";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{
            /* This is C style */
            //This is C++ syntax

            string company = "Orders Placed";
            <h1 id="title">@company</h1>

        }
        <p class="lead">Online Shopping Portal.</p>
    </section>

    <div class="row">
        <ol>
            @{
                   /*
                foreach (ECommerceWeb.Models.Order o in @Model)
                {
                    <li>
                        <p>@o.OrderId  @o.OrderDate  @o.Amount  @o.Status</p>
                    </li>
                }
                   */
            }
        </ol>
    </div>
</main>

